name: Manual Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target Environment'
        required: true
        type: choice
        options:
        - develop
        - staging
        - prod
      api_specification_file:
        description: 'OpenAPI Specification File'
        required: true
        default: 'Global-Loyalty-v2-Dev.yaml'
        type: input
        options:
          - Loyalty-Global-v1.yaml
          - Loyalty-Global-v1.json
          - Loyalty-Global-v2.yaml
          - Loyalty-Global-v2.json
          - Loyalty-US.yaml
          - Loyalty-US.json
      deploy_stages:
        description: 'Stages to Deploy'
        required: false
        default: dev
        type: choice
        options:
          - ' '
          - 'dev'
          - 'develop-v2'
          - 'staging'
          - 'stage-v2'
          - 'prod'
      create_usage_plans:
        description: 'Create Usage Plans and API Keys via AWS CLI (true/false)'
        required: false
        type: boolean
        default: true

jobs:
  deploy-api-gateway-intl:
    uses: ./.github/workflows/deploy-api-gateway.yaml
    with:
      environment: ${{ inputs.environment }}
      aws_account: 149216511563
      spec_file: ${{ inputs.api_specification_file }}
      deploy_stages: ${{ inputs.deploy_stages }}
      create_usage_plans: ${{ inputs.create_usage_plans }}

